@model List<Commentaire>

<table class="table table-striped table-sm table-bordered text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Auteur</th>
            <th>Contenu</th>
            <th>DateCre</th>
            <th>DateMod</th>
        </tr>
    </thead>
    <tbody id="contentMessage">
        @foreach (var commentaire in Model)
        {
            <tr>
                <td>@commentaire.Id</td>
                <td>@commentaire.Auteur</td>
                <td>@commentaire.Contenu</td>
                <td>@commentaire.DateCre</td>
                <td>@commentaire.DateMod</td>

                <td>
                    <a asp-controller="Commentaire" asp-action="Read" asp-route-id="@commentaire.Id">Detail</a>
                </td>
                <td>
                    <a asp-controller="Commentaire" asp-action="Delete" asp-route-id="@commentaire.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>