@model Article

<h1>@Model.Id</h1>
<h2>@Model.Auteur</h2>
<h2>@Model.Contenu</h2>
<h2>@Model.DateCre</h2>
<h2>@Model.DateMod</h2>

<a asp-action="Update" asp-route-id="@Model.Id">Modifier</a>
<a asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Sûr Article ???');">Supprimer</a>

<br />

<partial name="_DisplayCommentairesPartial" model="Model.Commentaires" />

<br />
<a asp-controller="Commentaire" asp-action="Create" asp-route-articleid="@Model.Id">Ajouter Commentaire</a>